.addFolderBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0px 25px 25px 25px;
}

.addFolderMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  min-height: 100px;
}
