.sideBarBox {
    display: flex;
    flex-direction: column;
}

.folderList {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.folderLink {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    max-height: 105px;
    min-height: 40px;
    margin: 0 auto;
    margin-right: 10px;
    margin-top: 50px;
    position: relative;
    background-color: #2a9d8f;
    border-radius: 0 6px 6px 6px;
    text-align: center;
}

.folderLink:before {
    content: '';
    width: 50%;
    max-height: 12px;
    min-height: 6px;
    border-radius: 0 20px 0 0;
    background-color: #2a9d8f;
    position: absolute;
    top: -12px;
    left: 0px;
}

.folderLink:hover {
    color: white;
    background-color: black;
}

.folderListBtn {
    margin-top: 15px;
}